<div class="coreactualdatadashboard-34-2250" name="Core@Actual Data Dash board">
 <div class="group-34-2251" name="Group">
  <div class="group-34-2252" name="Group">
  </div>
  <label class="text-34-2253" type="text" value="©2021 polarishealth.ai- All Rights Reserved.">
   ©2021 polarishealth.ai- All Rights Reserved.
  </label>
 </div>
 <div class="group-34-2254" name="Group">
  <div class="group-34-2255" name="Group">
  </div>
  <img class="vector-34-2256" src="assets/images/Core/actual-data-dash-board/vector-34_2256.svg"/>
  <div class="group-34-2257" name="Group">
   <div class="group-34-2258" name="Group">
   </div>
   <button class="btn-34-2259" type="button">
    <img class="vector-34-2261" src="assets/images/Core/actual-data-dash-board/vector-34_2261.svg"/>
   </button>
   <div class="group-34-2264" name="Group">
    <img class="vector-34-2265" src="assets/images/Core/actual-data-dash-board/vector-34_2265.svg"/>
    <label class="text-34-2270" type="text" value="Base Line">
     Base Line
    </label>
   </div>
  </div>
  <div class="group-34-2271" name="Group">
   <select class="dropdown-34-2272">
    <option selected="" value="">
     Department Baseline
    </option>
   </select>
   <div class="group-34-2277" name="Group">
    <div class="group-34-2278" name="Group">
     <button class="btn-34-2279" type="button">
      <img class="vector-34-2281" src="assets/images/Core/actual-data-dash-board/vector-34_2281.svg"/>
     </button>
     <button class="btn-34-2284" type="button">
      <img class="vector-34-2286" src="assets/images/Core/actual-data-dash-board/vector-34_2286.svg"/>
     </button>
     <button class="btn-34-2289" type="button">
      <img class="vector-34-2291" src="assets/images/Core/actual-data-dash-board/vector-34_2291.svg"/>
     </button>
     <button class="btn-34-2298" type="button">
      <img class="vector-34-2300" src="assets/images/Core/actual-data-dash-board/vector-34_2300.svg"/>
     </button>
     <button class="btn-34-2304" type="button">
      <img class="vector-34-2306" src="assets/images/Core/actual-data-dash-board/vector-34_2306.svg"/>
     </button>
     <button class="btn-34-2310" type="button">
      <img class="vector-34-2312" src="assets/images/Core/actual-data-dash-board/vector-34_2312.svg"/>
     </button>
    </div>
    <button class="btn-34-2314" type="button">
     <img class="vector-34-2316" src="assets/images/Core/actual-data-dash-board/vector-34_2316.svg"/>
    </button>
   </div>
   <select class="dropdown-34-2323">
    <option selected="" value="">
     Time Period
    </option>
   </select>
  </div>
  <button class="btn-34-2327" type="button">
   <img class="vector-34-2330" src="assets/images/Core/actual-data-dash-board/vector-34_2330.svg"/>
   Create what-if analysis
  </button>
  <img class="vector-34-2332" src="assets/images/Core/actual-data-dash-board/vector-34_2332.svg"/>
  <img class="vector-34-2341" src="assets/images/Core/actual-data-dash-board/vector-34_2341.svg"/>
  <div class="group-34-2348" name="Group">
   <div class="group-34-2349" name="Group">
    <div class="group-34-2350" name="Group">
     <select class="dropdown-34-2351">
      <option selected="" value="">
       Base Line
      </option>
     </select>
     <div class="group-34-2358" name="Group">
      <img class="vector-34-2359" src="assets/images/Core/actual-data-dash-board/vector-34_2359.svg"/>
      <label class="text-34-2360" type="text" value="3">
       3
      </label>
     </div>
    </div>
    <div class="group-34-2361" name="Group">
     <select class="dropdown-34-2362">
      <option selected="" value="">
       Base Line
      </option>
     </select>
     <div class="group-34-2369" name="Group">
      <img class="vector-34-2370" src="assets/images/Core/actual-data-dash-board/vector-34_2370.svg"/>
      <label class="text-34-2371" type="text" value="8">
       8
      </label>
     </div>
    </div>
   </div>
   <div class="group-34-2372" name="Group">
    <div class="group-34-2373" name="Group">
     <img class="vector-34-2374" src="assets/images/Core/actual-data-dash-board/vector-34_2374.svg"/>
     <label class="text-34-2387" type="text" value="St. Michael Medical Center: 921409198-87861">
      St. Michael Medical Center: 921409198-87861
     </label>
    </div>
    <button class="btn-34-2388" type="button">
     <img class="vector-34-2391" src="assets/images/Core/actual-data-dash-board/vector-34_2391.svg"/>
     Complete
    </button>
    <button class="btn-34-2393" type="button">
     <img class="vector-34-2395" src="assets/images/Core/actual-data-dash-board/vector-34_2395.svg"/>
    </button>
   </div>
  </div>
  <div class="group-34-2396" name="Group">
   <div class="group-34-2397" name="Group">
   </div>
   <div class="group-34-2398" name="Group">
    <div class="group-34-2399" name="Group">
     <div class="group-34-2400" name="Group">
      <div class="group-34-2401" name="Group">
       <label class="text-34-2402" type="text" value="Emergency Room">
        Emergency Room
       </label>
       <div class="group-34-2403" name="Group">
        <label class="text-34-2404" type="text" value="Dept: Type">
         Dept: Type
        </label>
        <img class="vector-34-2405" src="assets/images/Core/actual-data-dash-board/vector-34_2405.svg"/>
       </div>
      </div>
      <div class="group-34-2409" name="Group">
       <div class="group-34-2410" name="Group">
        <img class="vector-34-2411" src="assets/images/Core/actual-data-dash-board/vector-34_2411.svg"/>
        <label class="text-34-2413" type="text" value="Site1_ED">
         Site1_ED
        </label>
        <label class="text-34-2414" type="text" value="Dept: Group">
         Dept: Group
        </label>
       </div>
      </div>
      <div class="group-34-2415" name="Group">
       <div class="group-34-2416" name="Group">
        <img class="vector-34-2417" src="assets/images/Core/actual-data-dash-board/vector-34_2417.svg"/>
        <label class="text-34-2419" type="text" value="Registered Nurses">
         Registered Nurses
        </label>
        <label class="text-34-2420" type="text" value="Resource Group">
         Resource Group
        </label>
        <div class="group-34-2421" name="Group">
         <div class="group-34-2422" name="Group">
          <div class="group-34-2423" name="Group">
          </div>
          <label class="text-34-2424" type="text" value="+3">
           +3
          </label>
         </div>
        </div>
       </div>
      </div>
      <div class="group-34-2425" name="Group">
       <div class="group-34-2426" name="Group">
        <img class="vector-34-2427" src="assets/images/Core/actual-data-dash-board/vector-34_2427.svg"/>
        <label class="text-34-2429" type="text" value="March 01,2023  10:33 AM">
         March 01,2023  10:33 AM
        </label>
        <label class="text-34-2430" type="text" value="Created On">
         Created On
        </label>
       </div>
      </div>
      <div class="group-34-2431" name="Group">
       <div class="group-34-2432" name="Group">
        <div class="group-34-2433" name="Group">
         <img class="vector-34-2434" src="assets/images/Core/actual-data-dash-board/vector-34_2434.svg"/>
         <label class="text-34-2436" type="text" value="921409198-87861">
          921409198-87861
         </label>
         <label class="text-34-2437" type="text" value="Base Line ID">
          Base Line ID
         </label>
        </div>
       </div>
      </div>
     </div>
     <div class="group-34-2438" name="Group">
      <div class="group-34-2439" name="Group">
       <div class="group-34-2440" name="Group">
        <div class="group-34-2441" name="Group">
         <div class="group-34-2442" name="Group">
          <div class="group-34-2443" name="Group">
           <label class="text-34-2444" type="text" value="Shift Duration">
            Shift Duration
           </label>
           <label class="text-34-2445" type="text" value="5-10">
            5-10
           </label>
           <img class="vector-34-2446" src="assets/images/Core/actual-data-dash-board/vector-34_2446.svg"/>
           <label class="text-34-2448" type="text" value="Hours">
            Hours
           </label>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="group-34-2449" name="Group">
       <div class="group-34-2450" name="Group">
        <div class="group-34-2451" name="Group">
         <label class="text-34-2452" type="text" value="Start Date ">
          Start Date
         </label>
         <div class="group-34-2453" name="Group">
          <label class="text-34-2454" type="text" value="03 Jan 2023">
           03 Jan 2023
          </label>
         </div>
         <img class="vector-34-2455" src="assets/images/Core/actual-data-dash-board/vector-34_2455.svg"/>
        </div>
       </div>
      </div>
      <div class="group-34-2457" name="Group">
       <div class="group-34-2458" name="Group">
        <div class="group-34-2459" name="Group">
         <img class="vector-34-2460" src="assets/images/Core/actual-data-dash-board/vector-34_2460.svg"/>
         <div class="group-34-2462" name="Group">
          <div class="group-34-2463" name="Group">
           <label class="text-34-2464" type="text" value="End Date">
            End Date
           </label>
          </div>
          <div class="group-34-2465" name="Group">
           <div class="group-34-2466" name="Group">
            <label class="text-34-2467" type="text" value="31 Jan  2023">
             31 Jan  2023
            </label>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="group-34-2468" name="Group">
       <div class="group-34-2469" name="Group">
        <div class="group-34-2470" name="Group">
         <div class="group-34-2471" name="Group">
          <label class="text-34-2472" type="text" value="Latest Start Time Scale ">
           Latest Start Time Scale
          </label>
          <label class="text-34-2473" type="text" value="03">
           03
          </label>
          <img class="vector-34-2474" src="assets/images/Core/actual-data-dash-board/vector-34_2474.svg"/>
         </div>
        </div>
       </div>
      </div>
      <div class="group-34-2476" name="Group">
       <div class="group-34-2477" name="Group">
        <div class="group-34-2478" name="Group">
         <label class="text-34-2479" type="text" value="Transition Scale ">
          Transition Scale
         </label>
         <label class="text-34-2480" type="text" value="03">
          03
         </label>
         <img class="vector-34-2481" src="assets/images/Core/actual-data-dash-board/vector-34_2481.svg"/>
        </div>
       </div>
      </div>
     </div>
    </div>
    <img class="vector-34-2487" src="assets/images/Core/actual-data-dash-board/vector-34_2487.svg"/>
   </div>
  </div>
  <div class="group-34-2488" name="Group">
   <div class="group-34-2489" name="Group">
    <label class="text-34-2490" type="text" value="Polaris Optimal">
     Polaris Optimal
    </label>
    <label class="text-34-2491" type="text" value="Cost savings">
     Cost savings
    </label>
    <label class="text-34-2492" type="text" value="$865 654">
     $865 654
    </label>
    <img class="vector-34-2493" src="assets/images/Core/actual-data-dash-board/vector-34_2493.svg"/>
    <div class="group-34-2495" name="Group">
     <img class="vector-34-2496" src="assets/images/Core/actual-data-dash-board/vector-34_2496.svg"/>
     <label class="text-34-2498" type="text" value="+ 3.3 %">
      + 3.3 %
     </label>
    </div>
    <img class="vector-34-2499" src="assets/images/Core/actual-data-dash-board/vector-34_2499.svg"/>
   </div>
  </div>
  <div class="group-34-2504" name="Group">
   <select class="dropdown-34-2505">
    <option selected="" value="">
     Shift Duration Time
    </option>
   </select>
   <select class="dropdown-34-2509">
    <option selected="" value="">
     Day Of The Week
    </option>
   </select>
   <select class="dropdown-34-2513">
    <option selected="" value="">
     Resource Group
    </option>
   </select>
   <button class="btn-34-2517" type="button">
    <img class="vector-34-2520" src="assets/images/Core/actual-data-dash-board/vector-34_2520.svg"/>
    What If Scenario A
   </button>
   <select class="dropdown-34-2523">
    <option selected="" value="">
     View
    </option>
   </select>
   <div class="group-34-2527" name="Group">
    <div class="group-34-2528" name="Group">
     <label class="text-34-2529" type="text" value="1D">
      1D
     </label>
     <label class="text-34-2530" type="text" value="1M">
      1M
     </label>
     <label class="text-34-2531" type="text" value="3M">
      3M
     </label>
     <label class="text-34-2532" type="text" value="6M">
      6M
     </label>
     <img class="vector-34-2533" src="assets/images/Core/actual-data-dash-board/vector-34_2533.svg"/>
     <label class="text-34-2535" type="text" value="7D">
      7D
     </label>
    </div>
   </div>
   <img class="vector-34-2536" src="assets/images/Core/actual-data-dash-board/vector-34_2536.svg"/>
  </div>
  <img class="vector-34-2540" src="assets/images/Core/actual-data-dash-board/vector-34_2540.svg"/>
  <div class="group-34-2781" name="Group">
   <div class="group-34-2782" name="Group">
    <div class="group-34-2783" name="Group">
    </div>
    <div class="group-34-2784" name="Group">
     <div class="group-34-2785" name="Group">
     </div>
     <div class="group-34-2786" name="Group">
      <img class="vector-34-2787" src="assets/images/Core/actual-data-dash-board/vector-34_2787.svg"/>
      <label class="text-34-2791" type="text" value="Performance analysis">
       Performance analysis
      </label>
     </div>
     <div class="group-34-2792" name="Group">
      <button class="btn-34-2793" type="button">
       <img class="vector-34-2795" src="assets/images/Core/actual-data-dash-board/vector-34_2795.svg"/>
      </button>
      <button class="btn-34-2797" type="button">
       <img class="vector-34-2799" src="assets/images/Core/actual-data-dash-board/vector-34_2799.svg"/>
      </button>
     </div>
    </div>
   </div>
   <img class="vector-34-2802" src="assets/images/Core/actual-data-dash-board/vector-34_2802.svg"/>
   <div class="group-34-2824" name="Group">
    <div class="group-34-2825" name="Group">
    </div>
    <label class="text-34-2826" type="text" value="Pending actual data for time period">
     Pending actual data for time period
    </label>
   </div>
  </div>
 </div>
 <div class="group-34-2827" name="Group">
  <div class="group-34-2828" name="Group">
  </div>
  <label class="text-34-2829" type="text" value="Dash Board">
   Dash Board
  </label>
  <img class="vector-34-2830" src="assets/images/Core/actual-data-dash-board/vector-34_2830.svg"/>
  <label class="text-34-2831" type="text" value="Information snippet and management from Base Line, What-if, and Performance analysis pages">
   Information snippet and management from Base Line, What-if, and Performance analysis pages
  </label>
 </div>
 <div class="group-34-2832" name="Group">
  <div class="group-34-2833" name="Group">
  </div>
  <img class="vector-34-2834" src="assets/images/Core/actual-data-dash-board/vector-34_2834.svg"/>
  <img class="vector-34-2859" src="assets/images/Core/actual-data-dash-board/vector-34_2859.svg"/>
  <button class="btn-34-2860" type="button">
   <img class="vector-34-2863" src="assets/images/Core/actual-data-dash-board/vector-34_2863.svg"/>
   Create Baseline
  </button>
  <img class="vector-34-2865" src="assets/images/Core/actual-data-dash-board/vector-34_2865.svg"/>
  <img class="vector-34-2870" src="assets/images/Core/actual-data-dash-board/vector-34_2870.svg"/>
 </div>
</div>
