<div class="shareshare-27-5" name="Share@Share">
 <div class="group-27-6" name="Group">
 </div>
 <div class="group-27-7" name="Group">
  <div class="group-27-8" name="Group">
  </div>
  <div class="group-27-9" name="Group">
   <button class="btn-27-10" type="button">
    Copy
   </button>
   <div class="group-27-13" name="Group">
    <div class="group-27-14" name="Group">
     <div class="group-27-15" name="Group">
     </div>
    </div>
    <label class="text-27-16" type="text" value="https://dev.polarishealth.ai/#/">
     https://dev.polarishealth.ai/#/
    </label>
   </div>
  </div>
 </div>
 <div class="group-27-17" name="Group">
  <div class="group-27-18" name="Group">
  </div>
  <img class="vector-27-19" src="assets/images/Share/share/vector-27_19.svg"/>
  <label class="text-27-20" type="text" value="Anyone can access to the link">
   Anyone can access to the link
  </label>
  <label class="text-27-21" type="text" value="Share link">
   Share link
  </label>
 </div>
 <div class="group-27-22" name="Group">
  <div class="group-27-23" name="Group">
  </div>
  <div class="group-27-24" name="Group">
   <div class="group-27-25" name="Group">
   </div>
   <img class="vector-27-26" src="assets/images/Share/share/vector-27_26.svg"/>
   <label class="text-27-27" type="text" value="USER 01">
    USER 01
   </label>
   <img class="img-27-28" src="assets/images/Share/share/img-27_28.png"/>
  </div>
  <div class="group-27-29" name="Group">
   <div class="group-27-30" name="Group">
   </div>
   <img class="vector-27-31" src="assets/images/Share/share/vector-27_31.svg"/>
   <label class="text-27-32" type="text" value="user 02">
    user 02
   </label>
   <img class="img-27-33" src="assets/images/Share/share/img-27_33.png"/>
  </div>
  <div class="group-27-34" name="Group">
   <div class="group-27-35" name="Group">
   </div>
   <img class="vector-27-36" src="assets/images/Share/share/vector-27_36.svg"/>
   <label class="text-27-37" type="text" value="user 03">
    user 03
   </label>
   <img class="img-27-38" src="assets/images/Share/share/img-27_38.png"/>
  </div>
 </div>
 <div class="group-27-39" name="Group">
  <div class="group-27-40" name="Group">
  </div>
  <button class="btn-27-41" type="button">
   ADD
  </button>
  <div class="group-27-44" name="Group">
   <div class="group-27-45" name="Group">
    <div class="group-27-46" name="Group">
    </div>
   </div>
   <label class="text-27-47" type="text" value="Select A User">
    Select A User
   </label>
  </div>
 </div>
 <label class="text-27-48" type="text" value="Invite Users">
  Invite Users
 </label>
 <div class="group-27-49" name="Group">
  <div class="group-27-50" name="Group">
   <label class="text-27-51" type="text" value="921409198-87861">
    921409198-87861
   </label>
   <img class="vector-27-52" src="assets/images/Share/share/vector-27_52.svg"/>
  </div>
  <label class="text-27-57" type="text" value="Base Line Name Abcd">
   Base Line Name Abcd
  </label>
 </div>
 <div class="group-27-58" name="Group">
  <div class="group-27-59" name="Group">
  </div>
  <img class="vector-27-60" src="assets/images/Share/share/vector-27_60.svg"/>
  <label class="text-27-65" type="text" value="Add Collaborator">
   Add Collaborator
  </label>
  <img class="vector-27-66" src="assets/images/Share/share/vector-27_66.svg"/>
 </div>
</div>
