

.sharecreatewhatif-12-11{
position:'' ;width: 100%; height: auto;  background-color: rgba(23,23,54,1.0);top:0px; left: 0;background:''}

.group-26-2{
position:absolute ;width: 253.0px; height: 340.0px;  background-color: rgba(23,23,54,1.0);top:0px; left: calc( ( ( 100% - 1440px) / 2 ) + 0px);border-radius: 4.0px;border-color:rgba(255, 255, 255, 1.0);border-style:solid;background:''}

.btn-14-5{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 93.0px;
 top: 312.0px;
 width: 79.001220703125px;
 height: 18.0101318359375px;
border-radius: 2.0px; background-color: rgba(255, 255, 255, 1.0);
 cursor: pointer;
font-size: 8.0px; color: rgba(87, 42, 183, 1.0); font-family: Gilroy-Medium; text-transform: uppercase; font-weight: 400;
}

.group-12-13{
position:absolute ;width: 238.0px; height: 273.0px;  background-color: rgba(0,0,0,0.0);top:30px; left: calc( ( ( 100% - 1440px) / 2 ) + 8px);border-radius: 2.0px;background:''}

.group-12-14{
position:absolute ;width: 238.0px; height: 273.0px;  background-color: '';top:0px; left: 0px;border-radius: 2.0px;border-color:rgba(44, 44, 67, 1.0);border-style:solid;background:''}

.vector-12-100{
position: absolute;left: 0.0px; top: 56.7109375px; width: 238.0px; height: 1}

.group-12-101{
position:absolute ;width: 214.95217895507812px; height: 7.0721435546875px;  background-color: rgba(0,0,0,0.0);top:44px; left: 5px;background:''}

.group-12-105{
position:absolute ;width: 214.95217895507812px; height: 7.0721435546875px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.text-12-106{
position: absolute;
left: 0.000946044921875px;
 top: 1.140625px;
 width: 66.03030395507812px;
 height: 6.0263671875px;
font-size: 8.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.text-12-107{
position: absolute;
left: 133.93719482421875px;
 top: 0.140625px;
 width: 81.01593017578125px;
 height: 7.0721435546875px;
font-size: 10.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-12-108{
position: absolute;left: 0.0px; top: 37.640625px; width: 238.0px; height: 1}

.group-12-109{
position:absolute ;width: 217.0146484375px; height: 7.0738525390625px;  background-color: rgba(0,0,0,0.0);top:25px; left: 5px;background:''}

.group-12-110{
position:absolute ;width: 217.0146484375px; height: 7.0738525390625px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.text-12-111{
position: absolute;
left: 0.0009765625px;
 top: 0.06640625px;
 width: 46.0302734375px;
 height: 6.0184326171875px;
font-size: 8.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.text-12-112{
position: absolute;
left: 133.999755859375px;
 top: 0.06640625px;
 width: 83.01593017578125px;
 height: 7.0738525390625px;
font-size: 10.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-12-113{
position: absolute;left: 0.0px; top: 18.56640625px; width: 238.0px; height: 1}

.group-12-114{
position:absolute ;width: 208.01858520507812px; height: 7.06591796875px;  background-color: rgba(0,0,0,0.0);top:6px; left: 5px;background:''}

.group-12-118{
position:absolute ;width: 208.01858520507812px; height: 7.06591796875px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.text-12-119{
position: absolute;
left: 0.000946044921875px;
 top: 1.0px;
 width: 60.030303955078125px;
 height: 6.0240478515625px;
font-size: 8.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.text-12-120{
position: absolute;
left: 134.00360107421875px;
 top: 0.0px;
 width: 74.01593017578125px;
 height: 7.06591796875px;
font-size: 10.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-12-121{
position:absolute ;width: 238.0px; height: 16.0px;  background-color: rgba(0,0,0,0.0);top:7px; left: calc( ( ( 100% - 1440px) / 2 ) + 8px);box-shadow: 0.0px 0.0px 1.1399999856948853px rgba(0, 0, 0, 0.25);background:''}

.group-12-122{
position:absolute ;width: 238.0px; height: 16.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-12-123{
position:absolute ;width: 238.0px; height: 16.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-12-124{
position:absolute ;width: 238.0px; height: 16.0px;  background-color: rgba(250,253,255,1.0);top:0px; left: 0px;border-radius: 2.0px;box-shadow: 0.0px 0.0px 1.1399999856948853px rgba(0, 0, 0, 0.10000000149011612);background:''}

.vector-12-125{
position: absolute;left: 225.0px; top: 4.0px; width: 7.0px; height: 7.0}

.text-12-126{
position: absolute;
left: 5.00054931640625px;
 top: 4.0px;
 width: 101.01702880859375px;
 height: 7.084228515625px;
font-size: 10.0px; color: rgba(87, 42, 183, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}