<div class="sharecreatewhatif-12-11" name="Share@createwhatif">
 <div class="group-26-2" name="Group">
 </div>
 <button class="btn-14-5" type="button">
  Create What-if
 </button>
 <div class="group-12-13" name="Group">
  <div class="group-12-14" name="Group">
  </div>
  <img class="vector-12-100" src="assets/images/Share/createwhatif/vector-12_100.svg"/>
  <div class="group-12-101" name="Group">
   <div class="group-12-105" name="Group">
    <label class="text-12-106" type="text" value="Department type">
     Department type
    </label>
    <label class="text-12-107" type="text" value="Emergency Room">
     Emergency Room
    </label>
   </div>
  </div>
  <img class="vector-12-108" src="assets/images/Share/createwhatif/vector-12_108.svg"/>
  <div class="group-12-109" name="Group">
   <div class="group-12-110" name="Group">
    <label class="text-12-111" type="text" value="Base Line ID">
     Base Line ID
    </label>
    <label class="text-12-112" type="text" value="6921409198-87861">
     6921409198-87861
    </label>
   </div>
  </div>
  <img class="vector-12-113" src="assets/images/Share/createwhatif/vector-12_113.svg"/>
  <div class="group-12-114" name="Group">
   <div class="group-12-118" name="Group">
    <label class="text-12-119" type="text" value="Base Line Name">
     Base Line Name
    </label>
    <label class="text-12-120" type="text" value="Base Line ABCD">
     Base Line ABCD
    </label>
   </div>
  </div>
 </div>
 <div class="group-12-121" name="Group">
  <div class="group-12-122" name="Group">
   <div class="group-12-123" name="Group">
    <div class="group-12-124" name="Group">
    </div>
    <img class="vector-12-125" src="assets/images/Share/createwhatif/vector-12_125.svg"/>
    <label class="text-12-126" type="text" value="Predetermined Values">
     Predetermined Values
    </label>
   </div>
  </div>
 </div>
</div>
